html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.btn {
  padding: 1.2rem 2.5rem;
  background: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.divider {
  width: 6rem;
  height: 0.3rem;
  margin: 2.5rem auto 0 auto;
  background-color: $main-color;
}
